<div class="panel panel-default">
    <div class="panel-heading">List of Invoices</div>
    <div class="panel-body" ng-controller="InvoiceController">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Due Date</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="invoice in invoices">
                    <td>{{invoice.dueDate}}</td>
                    <td>{{invoice.total}}</td>
                    <td>
                        <button class="btn btn-xs" ng-repeat="link in invoice._links"
                            ng-class="{'btn-success':link.method=='POST','btn-danger':link.method=='DELETE'}"
                            ng-click="follow(link)">
                            {{link.rel}}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>