<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Plant Hire Requests</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Plant Hire Requests</div>
  <div class="panel-body">

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Plant name</th>
                <th>Plant description</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Price</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="phr : ${phrs}">
                <td th:text="${phr.id}"></td>
                <td th:text="${phr.plant.name}"></td>
                <td th:text="${phr.plant.description}"></td>
                <td th:text="${phr.startDate}"></td>
                <td th:text="${phr.endDate}"></td>
                <td th:text="${phr.price}"></td>
                <td th:text="${phr.status}"></td>
                <td> <a th:href="@{/phrs/{phrId}(phrId=${phr.id})}" class="btn btn-default btn-xs" type="button">View</a>
                	
                	
                	<a th:if="${phr.status != 'approved'}" th:href="@{/phrs/{phrId}/approve(phrId=${phr.id})}" class="btn btn-default btn-xs" type="button">Approve</a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>