<div class="panel panel-default">
    <div class="panel-heading">Extend Plant Hire Request</div>
    <div class="panel-body">

        <form class="form-horizontal" >
            <div class="form-group">
                <label for="EndDateID" class="col-sm-2 control-label">End date</label>
                <input id="EndDateID" type="date" ng-model="endDate"/>
            </div>
        </form>
    </div>

    <div class="panel-footer clearfix">
        <button id="ExtendButtonID" class="btn btn-primary" ng-click="extend()">
            Extend
        </button>
        <div id="error" class="pull-right" ng-bind="error"></div>
    </div>
</div>