<div class="panel panel-default">
    <div class="panel-heading">List Plant Hire Requests</div>
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Line items</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="phr in phrs">
                    <td>#{{ phr.idRes }}</td>
                    <td>
                        <div  id="items-{{ $index }}">

                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Price</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                    <th>Supplier</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in phr.items">
                                    <td>{{item.price}}</td>
                                    <td>{{item.startDate}}</td>
                                    <td>{{item.endDate}}</td>
                                    <td>{{item.status}}</td>
                                    <td>{{item.supplier.name}}</td>
                                    <td>
                                        <span ng-repeat="link in item._links">
                                            <span restrict access="ROLE_SE ROLE_ADMIN">
                                            <button class="btn btn-xs" ng-if="link.rel=='update'"
                                                    ng-class="{'btn-success':link.method=='POST','btn-danger':link.method=='DELETE'}"
                                                    ng-click="followItem(phr,item,link)">{{link.rel}}</button>
                                            </span>
                                            <span restrict access="ROLE_WE ROLE_ADMIN">
                                            <button class="btn btn-xs" ng-if="link.rel != 'update'"
                                                    ng-class="{'btn-success':link.method=='POST','btn-danger':link.method=='DELETE'}"
                                                    ng-click="followItem(phr,item,link)">{{link.rel}}</button>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td>{{calculateCost(phr.items)}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="panel-footer clearfix">
        <a restrict access="ROLE_SE ROLE_ADMIN" type="button" class="btn btn-primary" href="#/phrs/create">
            Create a Plant Hire Request
        </a>
        <div id="error" class="pull-right" ng-bind="error"></div>
    </div>
</div>