<div class="panel panel-default">
    <div class="panel-heading">Update Plant Hire Request</div>
    <div class="panel-body">

        <form class="form-horizontal" >
            <div class="form-group">
                <label for="PlantNameID" class="col-sm-2 control-label">Name</label>
                <input id="PlantNameID" type="text" ng-model="name"/>
            </div>
            <div class="form-group">
                <label for="StartDateID" class="col-sm-2 control-label">Start date</label>
                <input id="StartDateID" type="date" ng-model="startDate"/>
            </div>
            <div class="form-group">
                <label for="EndDateID" class="col-sm-2 control-label">End date</label>
                <input id="EndDateID" type="date" ng-model="endDate"/>
            </div>
            <button id="UpdateButtonID" class="btn btn-default" ng-click="execQuery()">
                Search plant
            </button>
        </form>
        <p/>
        <div ng-show="catalogShown">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="plant in plants">
                        <td>{{plant.name}}</td>
                        <td>{{plant.description}}</td>
                        <td>{{plant.price}}</td>
                        <td>
                            <button class="btn btn-primary btn-xs" ng-click="addPlant(plant)">
                                <span class="glyphicon glyphicon-check"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="phr-div" ng-if="orderedPlants.length > 0">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th colspan="4">New Plants</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="plant in orderedPlants">
                    <td>{{plant.name}}</td>
                    <td>{{plant.description}}</td>
                    <td>{{plant.price}}</td>
                    <td>
                        <button class="btn btn-danger btn-xs" ng-click="removePlant(plant)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="items-div" ng-if="items.length > 0">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th colspan="4">Existing Line Items</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items">
                    <td>{{item.startDate}}</td>
                    <td>{{item.endDate}}</td>
                    <td>{{item.price}}</td>
                    <td>
                        <button class="btn btn-primary btn-xs" ng-click="editItem(item)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="panel-footer clearfix">
        <button class="btn btn-primary" ng-click="updatePHR()">
            Update
        </button>
        <div id="error" class="pull-right" ng-bind="error"></div>
    </div>
</div>