<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>BuildIt</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-cookies.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="lib/bootstrap.min.js"></script>
	<style type="text/css">body { padding-top: 90px; }</style>
</head>
<body ng-app="project">
<div class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div>
            <h1 align="center"><div class="navbar-collapse collapse">
                <span class="navbar-left">BuildIt</span>
                <form class="navbar-form navbar-right" method="post">
                    <span ng-if="user !== NULL">
                        <a class="btn btn-primary" href="#/dashboard">Dashboard</a>
                    <i class="glyphicon glyphicon-user white"></i>
                    <span style="color:#000000;font-size:12px;padding-right:5px;">{{user}}</span>
					<a href="" ng-click="logout()">Log Out</a>
                        </span>
                </form>
            </div></h1>
        </div>

    </div>
</div>
	<div class="container">
		<div ng-view></div>
	</div>
	<script src="js/main.js"></script>
	<script src="js/controllers.js"></script>
    <script src="js/config.js"></script>
</body>
</html>