<div ng-controller="PlantsController">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="plant in plants">
				<td>{{plant.name}}</td>
				<td>{{plant.description}}</td>
				<td>{{plant.price}}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
</div>
