<div class="panel panel-default">
	<div class="panel-heading">List of users</div>
	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>Enabled</th>
					<th>Link</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td>{{user.username}}</td>
					<td>{{user.enabled}}</td>
					<td> 
					<a href="/#/users/{{ user.username }}">View</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>