<div class="panel panel-default">
	<div class="panel-heading">List of users</div>
	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<tbody>

					<tr><td width="30%">Username</td><td>{{user.username }}</td></tr>
					<tr><td>Enabled</td><td>{{user.enabled}}</td></tr>
					<tr><td>Roles</td><td>
					
					<div ng-repeat="authority in authorities">
						{{ authority.authority }} <button ng-click="del(authority.idRes)">
                        	Delete   
                        </button>
					</div>
					<div>
					<input ng-model="role">
					<button ng-click="add()">Add</button>
					</div>
					
					</td></tr>

			</tbody>
		</table>
	</div>
</div>