<div class="panel panel-default">
    <div class="panel-heading">Actions</div>
    <div class="panel-body">
        <a restrict access="ROLE_SE ROLE_ADMIN" href="#/phrs/create" class="btn btn-primary">Create PHR</a>
        <a restrict access="ROLE_SE ROLE_ADMIN" href="#/invoices" class="btn btn-primary">Invoices</a>
        <a restrict access="ROLE_SE ROLE_WE ROLE_ADMIN" href="#/phrs" class="btn btn-primary">PHRs</a>
        <a restrict access="ROLE_ADMIN" href="#/users" class="btn btn-primary">Users</a>
    </div>
</div>
</div>