<div class="col-md-4 col-md-offset-4">
	<div class="login-panel panel panel-primary">
		<div class="panel-heading"><h4>Sign In</h4></div>
	
<!-- 		<div class="panel-heading">
			<h1 class="panel-title">azzz</h1>
		</div>
 -->		<div class="panel-body">
			<form role="form">
				<fieldset>
					<div class="form-group">
						<input class="form-control input-lg" placeholder="Username" ng-model="username" type="text" autofocus="">
					</div>
					<div class="form-group">
						<input class="form-control input-lg" placeholder="Password" ng-model="password" type="password" value="">
					</div>
					<div class="checkbox">
						<label> 
							<input name="remember" type="checkbox" value="Remember Me">
							Remember Me
						</label>
					</div>
					<button id="SubmitButtonID" class="btn btn-lg btn-primary btn-block" ng-click="login()">Login</button>
					<a href="#register">Sign up</a>
				</fieldset>
			</form>
		</div>
	</div>
</div>