<div class="col-md-4 col-md-offset-4">
	<div class="login-panel panel panel-primary">
		<div class="panel-heading"><h4>Register</h4></div>

		<div class="panel-body">
			<form role="form">
				<fieldset>
					<div class="form-group">
						<input class="form-control input-lg" placeholder="Username" ng-model="username" type="text" autofocus="">
					</div>
					<div class="form-group">
						<input class="form-control input-lg" placeholder="Password" ng-model="password" type="password" value="">
					</div>
					<button id="SubmitButtonID" class="btn btn-lg btn-primary btn-block" ng-click="register()">Register</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>